.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header {
  background-color: #2e5bc1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  font-family: 'Lobster Two', cursive;
  color: #fff;
  text-shadow: 4px 4px #000;
  border-bottom: #244aa0 3px solid;
}

.Current {
  margin-top: 100px;
  height: 400px;
}

.Current h3, .WantTo h3, .Read h3 {
  text-align: left;
  font-family: 'Righteous', cursive;
  padding: 0 10px;
  text-shadow: 2px 2px #579be5;
}

.WantTo {
  height: 400px;
}

.Read {
  height: 400px;
}

h1 {
  margin: 0;
}

hr {
  width: 97%;
  margin: 0 10px;
  background-color: #c6c6c6;
}

i {
  padding: 4px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
