.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header {
  background-color: #2e5bc1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  font-family: 'Lobster Two', cursive;
  color: #fff;
  text-shadow: 4px 4px #000;
}

.Current h3, .WantTo h3, .Read h3 {
  text-align: left;
  font-family: 'Righteous', cursive;
  padding: 0 10px;
  text-shadow: 2px 2px #579be5;
  margin-top: 10px;
}

.Current {
  margin-top: 150px;
}

.divName {
  background-color: #3e3e3e;
  height: 150px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  float: left;
  display: inline;
  clear: both;
}

.search {
  margin-top: 66px;
  position: fixed;
  top: 0;
  width: 100%;
}

#booksList {
  display: inline-block;
}

#booksList img {
  width: 100px;
  height: 150px;
  margin: 15px;
  position: relative;
}

#select {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  bottom: 0;
  right: 0;
}

::placeholder {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
}

.fa-search {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1 {
  margin: 0;
}

hr {
  width: 97%;
  margin: 0 10px;
  background-color: #c6c6c6;
}

i {
  padding: 4px 10px;
  text-align: center;
  padding: 
}

input {
  float: left;
  width: 90%;
  color: #fff;
  background-color: #2877a8;
  border: none;
  margin: 0;
  padding: 8px;
}

button {
  width: 10%;
  padding: 8px;
  border: none;
  background-color: #0b4e77;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
